In [9]:
import pandas as pd
import re

In [12]:
df = pd.read_csv('./data/mt.translatedset.csv')

In [13]:
df.head()

    id            user                              corpus        langtolang
0  503  test_user_1101        थोड़ी सी मदद MT L4 | English  English -> Hindi
1  502  test_user_1101  खरगोश के लम्बे कान BL L2 | English  English -> Hindi
2  501  test_user_1101                कछुआ BL L4 | English  English -> Hindi
3  500  test_user_1101         नानी की ऐनक PE L2 | English  English -> Hindi
4  499        interact        Test Corpus Identity | Hindi  Hindi -> English

In [100]:
user = "test_user_601"
langtolang = "English -> Hindi"
# langtolang = "Hindi -> English"

In [101]:
df[(df['user'] == user) & (df['langtolang'] == langtolang)]

Empty DataFrame
Columns: [id, user, corpus, langtolang]
Index: []

In [102]:
len(df[(df['user'] == user) & (df['langtolang'] == langtolang)])

0